footer {
  color: $white;
  background-color: rgba(0, 0, 0, 0.774);
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;

  .footer-title {
    position: relative;
    left: 45px;
    top: 39px;
    font-family: Shrikhand, serif;
    font-size: 16px;
    height: 25px;
    width: 90px;
  }

  ul {
    list-style: none;
    margin-bottom: 0px;
    margin-top: 52px;
    margin-left: 5px;
  }

  li {
    line-height: 26px;
  }

  .footer-logo {
    position: relative;
    right: -3px;
    font-size: 13px;
  }

  .footer-link {
    color: $white;
    padding-left: 10px;
  }
  .footer-link-2 {
    color: $white;
  }
}

/*----------------------------------------------------------
-----------------------reponsive--------------------------
-----------------------------------------------------------*/

@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    height: 110px;
    ul {
      margin: 15px 20px 20px 300px;
      li {
        padding: 35px 30px 20px 30px;
      }
      display: flex;
    }
    .footer-title {
      position: relative;
      top: 0px;
    }
  }
}
